*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background: rgb(253,255,171);
    background: radial-gradient(circle, rgba(253,255,171,1) 0%, rgba(247,251,88,1) 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Love Ya Like A Sister', cursive;
}
header{
    display: flex;
    justify-content: center;
    padding: 1%;
}
main{
    width: 60%;
    height: 80vh;
    border-radius:10px ;
}
.blackboard{
    max-width: 100%;
    height: 100%;
    border: 15px solid;
    border-color: rgb(170, 126, 45)  rgb(121, 88, 28);
    border-radius: 10px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.8);
    background-color: black;
    color: white;
    position: relative;
}

.blackboard-content{
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
}

.image {
    width: 30%;
    height: 100%;
    background-size: cover;
}

.title{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 40px;
    margin-top: 3%;
}

.infoGame{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
}
.guessedLetterContainer{
    display: flex;
    margin-top: 5%;
}
.guessedLetter{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.secretWord{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: xx-large;
    width: 90%;
}

.formAddLetter{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 18px;
    width: 90%;
}
.formReload{
    display: flex;
    justify-content: end;
    padding: 20px;
}
input[type="text"]{
 margin: 5px;
 background: inherit;
 border: none;
 border-bottom: 1px solid white;
 width: 30px;
 color: white;
}
input[type="submit"]{
    margin-left: 5px;
    background-color: inherit;
    color: white;
    padding: 2px 5px;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 10px;
    font-family: 'Love Ya Like A Sister', cursive;
}

.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    gap: 10px;
}
.imgWin{
    width: 30%;
    margin: auto;
}

@media screen and (max-width: 900px){
    main {
        width: 90%;
    }

    .blackboard {
        height: 50%;
    }
    .title{
        font-size: 30px;
    }
    .image {
        width: 30%;
        height: 90%;
        background-size: cover;
    }
    
}

@media screen and (max-width: 600px) {
    main {
        width: 90%;
    }

    .blackboard {
        height: 40%;
    }
    .title{
        font-size: 20px;
    }
    .infoGame{
        gap: 5px;
        margin-left: 10px;
        margin-top: 5px;
        font-size: 10px;
    }
    
    .secretWord{
        font-size: 10px;
    }
    .formAddLetter{
        font-size: 10px;
        
    }
    .formReload{
        padding: 10px;
    }
    input[type="text"]{
     width: 30px;
     color: white;

    }
    input[type="submit"]{
        font-size: 10px;
    }
}
